:root{
    --buttonbg: #2E4FD7;
    --sliderbg: #E7EBFC;
    --footerbg: #052825;
}
.footerbg{
    background-color: var(--footerbg);
}
.tabitem{
    background-color: var(--sliderbg);
    border-radius: 5px;
}
.backcolor{
    background-color: var(--sliderbg);
}
.container{
    font-family: Helvetica, sans-serif;
}
.container-fluid{
    max-width: 1140px;
}
h4{
    font-weight: 700;
    font-size: calc(24px + 12 * (100vw / 1140));
}
h6{
    font-weight: 700;
    font-size: calc(12px + 6 * (100vw / 1140));
}
.blacktext{
    font-size: calc(8px + 4 * (100vw / 1140));
}
.white{
    color: white;
}
.btn-blue{
    border-radius: 0;
    background-color: var(--buttonbg);
    padding: 4%;
    width: calc(32px + 96 * (100vw / 1140));
    font-size: calc(4px + 6 * (100vw / 1140)) ;
}

/* slide1 */

.slide1{
    margin-top: 10%;
    
}

.img-woman{
    width: 18vw;
}

/* slide2 */
.slide2{
    margin-top: 10%;
}
/* slide3 */
.slide3{
    margin-top: 10%;
}
.slide4{
    margin-top: 10%;
    width: 60%;
    background-color: var(--sliderbg);
    vertical-align: middle;
}


/* slider */
.p-5{
    padding: 10%;
}
.woman-slider{
    width: 10vw;
}
.alig{
    align-self: center;
}

/* last slide */
.bgenable{
    background-color: var(--sliderbg);
    padding: 10%;
}


/* footer */

.footer{
    background-color: var(--footerbg);
    padding: 8%;
}



/* login */

.loginpage{
    max-width: 450px;
    justify-content: center;
}

/* adress */

.adress{
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--sliderbg);
    position: relative;
}
.adress img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image takes the full width */
}
















@media (max-width: 768px) { 
    .container{
        max-width: none;
    }
    .grid1{
        display: inline-flex;
        justify-content: center;
    }
    .grid2{
        display: block;
    }
    .col-6{
        margin-top: 5%;
    }
    .col-3{
        margin-top: 5%;
    }
    .img-woman{
        width: 50vw;
        margin-top: 10%;
    }
    .woman-slider{
        width: 30vw;
        margin: 6%;
    }
}

@media (max-width: 375px){
    .img-woman{
        visibility: visible;
    }
}
